.profit-container{
    width: 952px;
    margin: 0 auto;

    h2{
        margin: 40px 0 20px 0;
        i{
            color: #ff0000;
            font-size: 30px;
            margin-right: 10px;
        }
    }

    img{
        display: block;
        margin: 20px auto;
        width: 100px;
    }

    p{
        margin: 0 0 30px 0;
    }
}